<html>
  <head>
    <title>Blade Runner </title>
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>
  <body>
    <div class="bar">
      <h2> Blade Runner Leaderboard</h2>
        {{#if user}}
            <a href="/play" class="center">Play Here</a>
        {{else}}
            <a class="btn" href="/account/login">Log in to play</a>
        {{/if}}
      {{#if user}}
        <p> Hi {{ user }} Welcome Back :
          <a href="/account/logout">Log out</a>
        </p>
      {{/if}}
    </div>
        <div class="page">
            <div class="center">
            </div>
        <table id="scores" style="width:50%">
            {{#each scores}}
            {{/each}}
        </table>
        </div>
  </body>
</html>
