<html>
  <head>
    <title>Asteroid Runner</title>
    <script src="/static/scripts/lib/jquery.min.js"></script>
      <script src="/static/scripts/lib/pixi.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>
  <body>
    <div class="bar">
      <h2> Asteroid Runner </h2>
      {{!-- STUB --}}
      {{#if user}}
        <p> Hi {{ user }}
          <a href="/">Main Menu</a>
        </p>
      {{/if}}
      {{!-- ENDSTUB --}}
    </div>
    <div class="center">
        <p> Avoid the Asteroids! Press a and d to steer </p>
    </div>
    <div class="center">
        <p> Score </p>
    </div>
    <div class="center">
        <b id="score"> </b>
    </div>
    <div class="pane">
    <ul id="pane"></ul>
    </div>
    <a class="btn2"  href="/play">Play again!</a>

  </body>
  <script src="/Game/container.js"></script>
</html>
